<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            {% comment %} 인증 여부 상관없이 보임 {% endcomment %}
            <li class="nav-item mt-2 ">{{ request.user }}님 안녕하세요!</li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:posting_index' %}">Blog Home</a>
            </li>
            {% comment %} 인증(로그인)된 사용자라면 {% endcomment %}
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:profile' request.user.username %}">My Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:feed' %}">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:create_posting' %}">New Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signout' %}">Logout</a>
            </li>
            {% comment %} 인증(로그인)되지 않은 사용자라면 {% endcomment %}
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signin' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>